[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/mileszs/ack.vim
[submodule "bundle/scss-syntax"]
	path = bundle/scss-syntax
	url = git://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script
[submodule "bundle/vimoutliner"]
	path = bundle/vimoutliner
	url = git://github.com/vimoutliner/vimoutliner
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git://github.com/mattn/gist-vim
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = git://github.com/vim-scripts/ZoomWin
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript
[submodule "bundle/VimClojure"]
	path = bundle/VimClojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = https://github.com/slim-template/vim-slim
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "bundle/vim-sbt"]
	path = bundle/vim-sbt
	url = https://github.com/derekwyatt/vim-sbt
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "bundle/vim-classpath"]
	path = bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "bundle/Dockerfile"]
	path = bundle/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-rspec"]
	path = bundle/vim-rspec
	url = git://github.com/thoughtbot/vim-rspec
[submodule "bundle/paredit"]
	path = bundle/paredit
	url = https://github.com/vim-scripts/paredit.vim
[submodule "bundle/a"]
	path = bundle/a
	url = https://github.com/vim-scripts/a.vim
[submodule "bundle/rust"]
	path = bundle/rust
	url = https://github.com/wting/rust.vim
[submodule "bundle/vim-jst"]
	path = bundle/vim-jst
	url = https://github.com/briancollins/vim-jst
[submodule "bundle/vim-toml"]
	path = bundle/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/tsuquyomi"]
	path = bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "/Users/odashevskii/.vim/bundle/vimproc.vim"]
	path = /Users/odashevskii/.vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/vim-js-indent"]
	path = bundle/vim-js-indent
	url = https://github.com/jason0x43/vim-js-indent.git
